<% @posts.each do |post| %>
  <h2><a href="/posts/<%= post.slug %>"><%= post.title %></a></h2>
  <h3>By: <a href="/users/<%= post.user.slug %>"><%= post.user.username %></a></h3>
  <p><%= post.content %></p>
  <br>
<% end %>