<h1>Posts by <%= @user.username %>:</h1>
<% @user.posts.each do |post| %>
  <h2><a href="/posts/<%= post.slug %>"><%= post.title %></a></h2>
  <p><%= post.created_at %></p>
  <p><%= post.content %></p>
  <br>
<% end %>