<h2>Posts by <%= @user.username %>:</h2>
<% @user.posts.each do |post| %>
  <h3><a href="/posts/<%= post.slug %>"><%= post.title %></a></h3>
  <p><strong><%= post.readable_date %></strong></p>
  <p><%= post.content %></p>
  <br>
<% end %>