<h1><%= @tag.name %></h1>
<% @tag.posts.each do |post| %>
  <h2><a href="/posts/<%= post.slug %>"><%= post.title %></a></h2>
  <h3>By: <a href="/users/<%= post.user.slug %>"><%= post.user.username %></a></h3>
  <p><%= post.readable_date %></p>
  <p><%= post.content %></p>
<% end %>