<h1>Edit Post:</h1>
<form method="POST" action="/posts/<%= @post.slug %>/edit">
  <label for="title">Title: </label>
  <input type="text" id="title" name="title" value="<%= @post.title %>"><br><br>
  <label for="content">Post: </label>
  <input type="text" id="content" name="content" value="<%= @post.content %>"><br><br>

  <% if @tags %>
    <h3>Tags:</h3>
    <% @tags.each do |tag| %>
      <%= tag.name %>
      <input type="checkbox" id="tag<%= tag.id %>" name="tag_ids[]" value="<%= tag.id %>" <%= "checked" if @post.tags.any? {|post_tag| post_tag.id == tag.id} %>><br>
    <% end %>
  <% end %>

  <label for="new_tag">New Tag: </label>
  <input type="text" id="new_tag" name="new_tags[]"><br><br>

  <input type="submit" value="Submit">
</form>