<h1><%= @post.title %></h1>
<h3>By: <a href="/users/<%= @post.user.slug %>"><%= @post.user.username %></a></h3>
<p><%= @post.readable_date %></p>
<p><%= @post.content %></p>
<p>Tags:
  <% @post.tags.each do |tag| %>
    <a href="/tags/<%= tag.slug %>" class="btn btn-default btn-sm" aria-label="Left Align">
      <%= tag.name %>
    </a>
  <% end %>
</p>
<br>
<form method="GET" action="/posts/<%= @post.slug %>/edit">
  <input type="submit" value="Edit Post">
</form>
<br>
<form method="POST" action="/posts/<%= @post.slug %>/delete">
  <input type="submit" value="Delete Post">
</form>
<br>