<h2><%= @post.title %></h2>
<h4>By: <a href="/users/<%= @post.user.slug %>"><%= @post.user.username %></a></h4>
<p><strong><%= @post.readable_date %></strong></p>
<p><%= @post.content %></p>
<p>Tags:
  <% @post.tags.each do |tag| %>
    <a href="/tags/<%= tag.slug %>" class="btn btn-default btn-sm" aria-label="Left Align">
      <%= tag.name %>
    </a>
  <% end %>
</p>
<br>
<% if @owns_post %>
  <form method="GET" action="/posts/<%= @post.slug %>/edit">
    <input type="submit" value="Edit Post">
  </form>
  <br>
  <form method="POST" action="/posts/<%= @post.slug %>/delete">
    <input type="submit" value="Delete Post">
  </form>
  <br>
<% end %>